@import "tailwindcss";
@tailwind utilities;

:root {
  background-color: var(--color-secondary-1);
}

html, body, #root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* stack header, main, footer */
}

main {
  flex: 1; /* expand to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  gap: 8px;
  background-color: white;
  margin: auto;
  min-width: 300px;
}


.card {
  @apply  rounded-[8px] p-6 shadow-md flex flex-col gap-4 items-center text-center min-w-[300px] max-w-[600px];
}

/*Colorpalette*/
@theme {
  --color-primary-1: #26408b;
  --color-primary-1-80: #4F64A0;
  --color-primary-1-60: #7988B5;
  --color-primary-1-40: #A2ADCB;
  --color-primary-1-20: #CCD1E0;
  --color-primary-1-10: #EAECF5;

  --color-secondary-1: #EDF4F4;
  --color-secondary-2: #DEEEEE;

  --color-accent-1: #abd1b5;
  --color-accent-2: #ffa630;
  --color-accent-3: #d32f2f;
  --color-accent-4: #507255;

  --color-neutral-light-1: #EDF4F4;
  --color-neutral-dark-1: #111623;
  --color-neutral-dark-2: #1c1c1c;
}
